<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OdeToFood</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700&family=Open+Sans&display=swap" rel="stylesheet">
    @* @Styles.Render("~/Content/css") *@
    @Styles.Render("~/web/css/main.min.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

<nav>
  <ul class="menu">
    <li class="logo"><a href="#">Favourite Table</a></li>
    <li class="item"><a href="#">Home</a></li>
    <li class="item"><a href="#">About</a></li>
    <li class="item has-submenu">

    <li class="item"><a href="#">Blog</a></li>
    <li class="item"><a href="#">Contact</a></li>
    <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>

  </ul>
</nav>
    @* <div class="navbar navbar__active navbar-fixed-top">
            <div class="navbar__header">
                <a>@Html.ActionLink("Favourite Table", "Index", "Home", new { area = "" }, new { @class = "navbar__brand" })</a>
                <div class='navbar__burger'>
                    <div class='burger__bar1'></div>
                    <div class='burger__bar2'></div>
                    <div class='burger__bar3'></div>
                </div>
            </div>
            
            <div class="navbar-collapse collapse">
                <ul class="navbar__linklist navbar-nav">
                    <li>@Html.ActionLink("Restaurants", "Index", "Restaurants", new { @class = "navbar__item" })</li>
                    <li>@Html.ActionLink("CuisineType", "Index", "CuisineType", new { @class = "navbar__item" }) </li>
                    <li>@Html.ActionLink("About", "About", "Home", new { @class = "navbar__item" }) </li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { @class = "navbar__item" })</li>
                </ul>
            </div>
    </div> *@
    <div class="container body-content">
        @if(TempData["Message"] != null)
            {
                <div class="alert alert-info">
                    @TempData["Message"];'
                </div>
            }
        @RenderBody()
        <hr />
        <footer class='footer'>
            <div class='footer__brand'>
                <a>Favourite Table</a>
            </div>
            <div class='footer__info'>
                <p>&copy; Favourite Table 2021</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery-3.6.0.min.js " type="text/javascript"></script>
<script src="~/Scripts/frontendScripts.js" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
