@model ReviewViewModel

<p>Add Pie Review</p>

<form asp-controller="Review" asp-action="Create" method="post">
    <fieldset>
        <div>
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title)
        </div>
        <div>
            @Html.LabelFor(m => m.Rating)
            @Html.EditorFor(m => m.Rating)
        </div>
        <div>
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description)
        </div>
        <div>
            <input type="submit" value="Create" />
        </div>

    </fieldset>
</form>

